<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Javier Hernande</title>
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
</head>
<body>
    <div class="navbar">
        <a href="/dashboard">
            <img src="/static/house.svg" alt="dashboard" style="height: 30px; width: 30px;"/>
        </a>
    </div>
    <div class="dashboard-container">
        <button onclick="window.location.href='/Generar'">GENERAR GUIAS XML</button>
        <button onclick="window.location.href='/enviar'">ENVIAR GUIAS</button>
        <button onclick="window.location.href='/estado'">OBTENER ESTADO DE GUIAS</button>
        <button onclick="window.location.href='/logout'">SALIR</button>
    </div>
    <footer >
        <p>Copyright Javier Hernande 2023 - Hecho por Erivax</p>
        <a href="https://es.linkedin.com/in/javier-hernandezjh" target="_blank">
            <img src="/static/61109.png" alt="LinkedIn" style="height: 24px; width: 24px;"/>
        </a>
    </footer>
</body>
</html>